@import "../colors.scss";

//<---Header--->
.header {
  background-color: $primary;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 80px;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 10px;
}

.nav-item {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  .profile {
    border-radius: 100%;
    height: 30px;
  }
  .icon {
    font-size: 20px;
  }
  .notification-bell {
    position: relative;
    display: inline-block;
    font-size: 20px;

    .notification-count {
      position: absolute;
      top: -8px;
      right: -8px;
      background: #ff0000;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      border-radius: 50%;
      padding: 2px;
      min-width: 16px;
      text-align: center;
      line-height: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.user-link {
  color: $white;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}
.user-link-name {
  color: $white;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .user-link-name {
    display: none;
  }
}
