.layout-wrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    .layout-container{
        width: 540px;
        @media (min-width:768px) {
            width: 720px;
        }
        @media (min-width:1024px) {
            width: 991px;
        }
        @media (min-width:1400px) {
            width: 1200px;
        }
    }
}