@import "../colors.scss";
.home {
    padding: 0;
    background: url("../../assests/glow/Feature\ Right\ Glow.png");
    background-color: #040619;
    color: $white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: column;
    width: 100%;
    .content {
        width: 100%;
        display: flex;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        color: $white;
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            span {
                margin-right: 0.4rem;
            }
        }
        
    }
    .sidebar-home-sm {
        display: none;
     }
}
@media (max-width: 480px) {
 .sidebar-home {
    // display: none;
    width: 100%;
 }
    
}
@media (max-width: 768px) {
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.render-container{
    width: 100%;
    @media (min-width:768px) {
        width: 80%;
    }
}